body {
  background: url(images/beach.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

/*Header start*/
header {
  background-color: rgba(0, 97, 168, 0.5);
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  padding: 0.2em;
  margin: 0.2em;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: white;
  font-family: "Seaweed Script", cursive;
}

.menu a:hover {
  background-color: rgba(6, 50, 82, 0.5);
  color: white;
  color: white;
}

a:hover {
  text-decoration: none;
}

/*Header End*/

/*sidebar nav Start*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgba(0, 97, 168, 0.5);
  position: fixed;
  height: 38%;
  z-index: 1;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: rgba(6, 50, 82, 0.5);
  color: white;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

/*sidebar nav End*/

/*body content Start*/
.content {
  width: 75%;
}

p {
  color: white;
}

/*Button Style Start*/
.button {
  background-color: rgba(0, 0, 255, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
  color: white;
}

.center-button {
  display: flex;
  justify-content: center;
}

/*Button Style End*/

/*Section cards style Start*/
.card-para {
  padding-top: 1em;
  text-indent: 2em;
}

h2 {
  text-align: center;
  font-family: "Seaweed Script", cursive;
  font-size: 2.5em;
  margin-top: 1em;
}

.card-img-size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 420px;
}

a {
  color: white;
}

a:hover {
  color: blue;
}

.helena-food,
.mitsu-ken,
.over-easy,
.waiahole-poi,
.ken-fresh-fish,
.hawaii-food {
  margin: 1em;
  padding: 1em;
  background-color: rgba(0, 97, 168, 0.5);
}

/*Section cards style End*/
/*body content End*/

/*Footer*/
footer {
  background-color: rgba(0, 97, 168, 0.5);
  margin-top: 10em;
  margin-bottom: 1em;
  height: 5em auto;
  color: white;
}

h3 {
  font-family: "Seaweed Script", cursive;
}

.col-sm {
  display: flex;
  flex-direction: column;
}

.footer-a {
  margin: 1em;
}

.footer-a a {
  font-size: 15px;
  font-weight: bold;
  line-height: 2em;
  margin: 0.75em;
  color: white;
}

.footer-a a:hover {
  color: blue;
}

.footer-a-tag {
  font-size: 15px;
  font-weight: bold;
  line-height: 2em;
  color: white;
}

.footer-a-tag:hover {
  color: blue;
  text-decoration: none;
}

.footer-p-address {
  margin: 1em;
}

.footer-news {
  margin: 1em;
}

/*Footer*/

/*hamburger menu START*/
.nav {
  text-align: left;
  height: 50px;
  line-height: 50px;
}

.menu {
  margin: 0;
  display: inline;
}

.menu a {
  text-decoration: none;
  color: white;
  line-height: 35px;
  margin-left: 10px;
}

label {
  font-size: 30px;
  line-height: 50px;
  display: none;
}

#toggle {
  display: none;
}

/*hamburger menu END*/

/*transition / animation Start*/
.card-img-size:hover {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  transition-delay: .3s;
  -moz-transform: .3s;
  transition-duration: 2s;
  -moz-transition-duration: 2s;
}

.blink-red {
  font-size: 1.5em;
  margin: .3em;
  text-align: center;
  animation: emergency-blinking 3s infinite;
  animation-direction: alternate;
}

@keyframes emergency-blinking {
  0%   {color: red;}
  25%  {color: white;}
  50%  {color: red;}
  75%  {color: white;}
  100% {color: red;}
}

/*transition / animation End*/

/*Media Query start*/
@media screen and (min-width: 320px) and (max-width: 740px) {

  /*hamburger menu START*/
  label {
    display: block;
  }

  .menu {
    text-align: left;
    margin-top: 40px;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    margin: 0;
    padding: 5px;
    font-size: 1.5em;
  }

  .menu a:hover {
    background-color: rgb(6, 50, 82);
    color: white;
  }

  #toggle:checked+.menu {
    display: block;
    background-color: rgba(0, 97, 168, 0.8);
    position: absolute;
    width: 10em;
    z-index: 1;
  }

  header,
  .nav {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 5px;
  }

  /*hamburger menu END*/

  /*footer*/
  footer {
    background-color: rgba(0, 97, 168, 0.6);
    margin-top: 10em;
    margin-bottom: 1em;
    height: 5em auto;
    color: white;
  }

  /*footer*/

  /*body content*/
  body {
    background-image: url(images/beach.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .card-img-size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 230px;
  }

  .content {
    width: 100%;
  }

  /*body content*/
}

@media screen and (min-width: 741px) and (max-width: 767px) {
  footer {
    background-color: rgba(0, 97, 168, 0.6);
    margin-top: 10em;
    margin-bottom: 1em;
    height: 5em auto;
    color: white;
  }

  body {
    background-image: url(images/beach.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .card-img-size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 270px;
  }

  /*Header nav start*/
  .menu a {
    padding: 0.5em;
    margin: 0.5em;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }

  /*Header nav End*/
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  footer {
    background-color: rgba(0, 97, 168, 0.6);
    margin-top: 5em;
    margin-bottom: 1em;
    height: 5em auto;
    color: white;
  }

  body {
    background-image: url(images/beach.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .card-img-size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 250px;
  }

  /*header nav start*/
  .menu a {
    padding: 0.5em;
    margin: 0.5em;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }

  /*header nav End*/
}

/*sidebar nav Start*/
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*sidebar nav End*/
/*Media Query start*/